body{

    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
}


.col-md-6{

    background-color: white;
    margin-top: 60px !important;
}

input{

    margin-top: 30px;
}

button{

    margin-top: 20px ;
    float: left;
}

.success{

    border: 3px solid green;
}

.error{

    border:3px solid red;
}

small{

    color:red;
    text-align: left !important;
}
