

table{

    border: 4px solid black !important;
}

.col-md-6{

    margin-top: 80px !important;

  
}

input[type =button]{

    
    width: 100% !important;
   
    background-color: blue;
}

input[type =text]
{
    width: 100%;
    background-color: blue;
}



